:root {
   --fonts-link-spacing-value: "normal";
   --fonts-caption-small-spacing-value: 2.4000000000000004px;
   --fonts-h1-mobile-spacing-value: "normal";
   --fonts-h2-tablet-spacing-value: "normal";
   --fonts-h3-tablet-spacing-value: "normal";
   --fonts-h4-mobile-lineheight-value: 120%;
   --fonts-content-mobile-lineheight-value: 150%;
}